<main class="hoc container clear">
  <!-- main body -->
  <!-- ################################################################################################ -->
  <div class="content">
    <!-- ################################################################################################ -->
    <h1>{{singlePost.title}} ({{singlePost.rating}})</h1>
    <img class="imgr borderedbox inspace-5" style="width: 125px; height: 125px;" [src]="singlePost.second_image" alt="">
    <p>{{singlePost.short_desc}}</p>
    <img class="imgl borderedbox inspace-5" style="width: 125px; height: 125px;" [src]="singlePost.first_image" alt="">
    <p>{{singlePost.long_desc}}</p>
    <div id="comments" style="margin-top: 20px;">
      <h2>Comments</h2>
      <ul>
        <li *ngFor="let comment of comments">
          <article>
            <header>
              <figure class="avatar"><img src="assets/images/demo/avatar.png" alt=""></figure>
              <address>
                By <a href="#">{{comment.user_name}}</a>
              </address>
              <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
            </header>
            <div class="comcont">
              <p>{{comment.title}}</p>
              <p>{{comment.body}}</p>
            </div>
          </article>
        </li>
      </ul>
      <h2>Write A Comment</h2>
      <form action="#" method="post">
        <div class="one_third first">
          <label for="name">Name <span>*</span></label>
          <input type="text" name="name" id="name" value="" size="22" required>
        </div>
        <div class="one_third">
          <label for="email">Mail <span>*</span></label>
          <input type="email" name="email" id="email" value="" size="22" required>
        </div>
        <div class="one_third">
          <label for="url">Website</label>
          <input type="url" name="url" id="url" value="" size="22">
        </div>
        <div class="block clear">
          <label for="comment">Your Comment</label>
          <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
        </div>
        <div>
          <input type="submit" name="submit" value="Submit Form">
          &nbsp;
          <input type="reset" name="reset" value="Reset Form">
        </div>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
  <!-- / main body -->
  <div class="clear"></div>
</main>
