<main class="hoc container clear">
  <!-- main body -->
  <!-- ################################################################################################ -->
  <div class="content">
    <!-- ################################################################################################ -->
    <div id="gallery">
      <figure>
        <header class="heading">Gallery Title Goes Here</header>
        <ul class="nospace clear" style="display: inline-flex;">
          <li class="one_quarter first" style="margin-left: 20px;" *ngFor="let post of posts">
            <h6 class="heading">{{post.title}}</h6>
            <p>{{post.short_desc}} […]</p>
            <a [routerLink]="['/post-detail', post.postId]"><img [src]="post.main_image" style="width: 222px; height: 222px;" alt=""></a>
            <footer><a [routerLink]="['/post-detail', post.postId]">More Details</a></footer>
          </li>
        </ul>
      </figure>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<!--    <nav class="pagination">-->
<!--      <ul>-->
<!--        <li><a href="#">« Previous</a></li>-->
<!--        <li><a href="#">1</a></li>-->
<!--        <li><a href="#">2</a></li>-->
<!--        <li><strong>…</strong></li>-->
<!--        <li><a href="#">6</a></li>-->
<!--        <li class="current"><strong>7</strong></li>-->
<!--        <li><a href="#">8</a></li>-->
<!--        <li><a href="#">9</a></li>-->
<!--        <li><strong>…</strong></li>-->
<!--        <li><a href="#">14</a></li>-->
<!--        <li><a href="#">15</a></li>-->
<!--        <li><a href="#">Next »</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
  <!-- / main body -->
  <div class="clear"></div>
</main>
