<!--Highlight-->
<div class="wrapper row3 coloured">
  <main class="hoc container clear">
    <!-- main body -->
    <div id="introblocks">
      <ul class="nospace group">
        <li class="one_third" *ngFor="let post of posts; let i = index;" [class.first]="i == 0">
          <article>
            <div>
              <h6 class="heading">{{post.title}}</h6>
              <p>{{post.short_desc}} [&hellip;]</p>
            </div>
            <img [src]="post.main_image" alt="">
            <footer><a [routerLink]="['/post-detail', post.postId]">More Details</a></footer>
          </article>
        </li>
      </ul>
    </div>
    <p class="center"><a class="btn inverse" [routerLink]="['posts']">See all posts</a></p>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!--Highlight-->
