<div id="topbar" class="hoc clear">
  <!-- ####################################---TOPBAR---################################################ -->
  <div class="fl_left">
  </div>
  <div class="fl_right">
    <ul>
      <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </div>
  <!-- ####################################---TOPBAR---################################################ -->
</div>
