<!-- Top Posts -->
<div class="wrapper bgded overlay" style="background-image:url('assets/images/demo/backgrounds/02.png');">
  <section class="hoc container clear">
    <!-- ####################################---TOP RATED POSTS----################################################ -->
    <div class="sectiontitle center">
      <h3 class="heading">{{title}}</h3>
      <p>{{subTitle}}</p>
    </div>
    <ul class="nospace group center">
      <li class="one_third first" *ngFor="let post of posts; let i = index;" [class.first]="i == 0">
        <article><a href="#"><i class="btmspace-30 icon fa fa-empire"></i></a>
          <h6 class="heading font-x1">{{post.title}}</h6>
          <p>{{post.short_desc}} [&hellip;]</p>
          <footer><a [routerLink]="['/post-detail', post.postId]">Read More &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- ####################################---TOP RATED POSTS----################################################ -->
  </section>
</div>
<!-- Top Posts -->
