<div id="copyright" class="hoc clear">
  <!-- ################################################################################################ -->
  <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
  <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  <!-- ################################################################################################ -->
</div>
