<footer id="footer" class="hoc clear">
  <!-- ################################################################################################ -->
  <h3 class="heading">Movie Blog Post</h3>
  <ul class="faico clear">
    <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
  </ul>
  <!-- ################################################################################################ -->
</footer>
