<div id="pageintro" class="hoc clear">
  <!-- #############################----SLIDER----############################################## -->
  <div class="flexslider basicslider">
    <ul class="slides">
      <li>
        <article>
          <p>Egestas</p>
          <h3 class="heading">Elementum dictum</h3>
          <p>Cursus mauris vitae ligula accumsan sed</p>
          <footer>
            <form class="group" method="post" action="#">
              <fieldset>
                <legend>Sign-Up:</legend>
                <input type="email" value="" placeholder="Email Here&hellip;">
                <button class="fa fa-sign-in" type="submit" title="Submit"><em>Submit</em></button>
              </fieldset>
            </form>
          </footer>
        </article>
      </li>
      <li>
        <article>
          <p>Pulvinar</p>
          <h3 class="heading">Viverra iaculis</h3>
          <p>Orci nam nec dolor dapibus dignissim tortor</p>
          <footer><a class="btn inverse" href="#">Facilisis etiam</a></footer>
        </article>
      </li>
      <li>
        <article>
          <p>Maximus</p>
          <h3 class="heading">Tincidunt viverra</h3>
          <p>Sed feugiat tellus quisque vehicula convallis</p>
          <footer><a class="btn" href="#">Efficitur convallis</a></footer>
        </article>
      </li>
    </ul>
  </div>
  <!-- #############################----SLIDER----############################################## -->
</div>
