<!--Newsletter-->
<div class="wrapper row3">
  <div class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="group">
      <section class="one_half first">
        <h6 class="heading btmspace-50">From The Blog ({{title}})</h6>
        <ul class="nospace">
          <li class="btmspace-30" *ngFor="let post of posts;">
            <article>
              <h4 class="nospace"><a href="#">{{post.title}}</a></h4>
              <p>{{post.date_posted}}</p>
            </article>
          </li>
        </ul>
      </section>
      <section class="one_half">
        <h6 class="heading btmspace-50">{{newsLetterTitle}}</h6>
        <p>{{desc}}</p>
        <p class="btmspace-30">{{subDesc}}</p>
        <form id="newsletter" method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!--Newsletter-->
