<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ###############################--MENU-TAB--############################################### -->
    <div id="logo" class="fl_left">
      <h1><a href="index.html">{{title}}</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li *ngFor="let item of menuItems"><a [routerLink]="[item.path]">{{item.name}}</a></li>
      </ul>
    </nav>
    <!-- ###############################--MENU-TAB--############################################### -->
  </header>
</div>
