<div class="wrapper row0">
  <!-- Top Bar Component-->
  <app-topbar></app-topbar>
  <!-- Top Bar Component -->
</div>
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../assets/images/demo/backgrounds/01.jpg');">
  <!-- Menu Bar Component-->
  <app-menu></app-menu>
  <!-- Menu Bar Component-->

  <!-- Slider Component-->
  <app-slider></app-slider>
  <!-- Slider Component-->
</div>
<!-- End Top Background Image Wrapper -->

<router-outlet></router-outlet>

<!-- Footer -->
<div class="wrapper row4 bgded overlay" style="background-image:url('../assets/images/demo/backgrounds/03.png');">
  <app-footer></app-footer>
</div>
<!-- Footer -->

<!--FooBar-->
<div class="wrapper row5">
  <app-foobar></app-foobar>
</div>
<!--FooBar-->

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
